.flashy {
  font-family: cursive;
  color: #ff66cc;
  font-weight: bolder;
}

.very_important {
  background-color: #ff99ff;
}

.special {
  background-color: #99ccff;
}

.info {
  font-family: fantasy;
  color: #9900cc;
}

img {
  width: 400px;
}

img.info {
  border: 3px solid #9900cc;
}

.best {
  font-family: impact;
  color:blue;
}


body {
  padding: 50px;
  text-align: center;
  background-image: url("../img/background.png");
}

p {
  font-family: serif;
  font-size: 18px;
}

ul {
  list-style: none;
}
