img {
  width: 400px;
}

body {
  padding: 50px;
  text-align: center;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

img {
  border: 3px solid black;
}

.flashy {
  font-family: cursive;
  font-weight: bolder;
}

.info {
  font-family: fantasy;
}

.bio {
  font-style: italic;
  background-color: white;
}

h2 {
  background-color: white;
}

.best {
  font-family: impact;
}
